html {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #ffee8c;
}

.main {
  width: 80vw;
  min-width: min(100vw, 500px);
  max-width: 1200px;
  height: 100%;
  margin: auto;
}

.board {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
  /* background-color: #ffee8c; */
  padding: 5px;
  border: 1px black solid;
  border-radius: 5px;
  margin: 0 5px;
  margin-bottom: 5px;
}

.section:last-child {
  margin-bottom: unset;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 8px 0;
}

.footer {
  display: flex;
  position: absolute;
  bottom: 0;
  padding: 5px 8px;
}

.title {
  font-size: 40px;
}

.subtle {
  color: #555555;
  font-style: italic;
  font-size: 15px;
}

.bio {
  color: #555555;
  border: unset;
  margin: 0 5px 8px;
}

.subtitle {
  font-size: 20px;
}

/* Element Overrides */

ul {
  margin-block-start: 5px;
  margin-block-end: 5px;
}
