text {
  font-family: 'DM Serif Display', serif;
  text-anchor: end;
}

.title {
  font-size: 1em;
}

.tooltip {
  font-size: 0.5em;
}

.chartContainer {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.svg {
  height: 90%;
  width: 100%;
}
.chart {
  height: 95%;
  width: 95%;
}
.chartControls {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2%;
}

.chartControl {
  cursor: default;
}
