text {
  font-family: 'DM Serif Display', serif;
  text-anchor: end;
}

.title {
  font-size: 1em;
}

.tooltip {
  font-size: 0.5em;
}

.svg {
  height: 100%;
  width: 100%;
}
.container {
  height: 95%;
  width: 95%;
}
