.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
  height: 100%;
  width: 100%;
}

.info-boards {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 99%;
  justify-content: stretch;
  align-items: stretch;
  background-color: whitesmoke;
}

.board {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
}

.board-contents {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: space-around;
}

.board-heading {
  font: bold;
  font-size: 1.5em;
  font-family: 'DM Serif Display', serif;
}

.board-sub-heading {
  font: bold;
  font-size: 1.25em;
}

.heading {
  font: bold;
  font-size: 2em;
  font-family: 'DM Serif Display', serif;
  color: whitesmoke;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 1px;
  background-color: whitesmoke;
  margin: 5px;
  padding: 4px;
  width: 26vw;
  transition: all 0.1s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}
.card-highlight {
  font-size: 1.65em;
}

.small-text {
  font-size: 0.8em;
  color: grey;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.button {
  cursor: default;
  border: 1px solid black;
  padding: auto;
  user-select: none;
}
