html,
#root,
.app {
    height: 100%;
}

.app {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

.info-boards {
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: stretch;
    align-items: stretch;
    background-color: grey;
}

.board {
    display: flex;
    justify-content: stretch;
    flex-direction: column;
}

.board-contents {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.heading {
    font: bold;
    font-size: 2em;
    background-color: lightgrey;
}

.board-heading {
    font: bold;
    font-size: 2em;
}

.card {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 5px;
    background-color: lightgrey;
    margin: 5px;
    padding: 5px;
    max-width: 150px;
    transition: all 0.1s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}
.card-highlight {
    font-size: 1.8em;
}

.small-text {
    font-size: 0.8em;
    color: grey;
}

a {
    color: inherit;
    text-decoration: inherit;
}
